@{
    ViewData["Title"] = "Demo Page";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <p>Mã sinh viên: 23xxx</p>
    <p>Họ và tên: Nguyễn Quang Tâm</p>
    <p>Lớp: K23CNT1</p>
    <p>Email: nguyenquangtam6666@gmail.com</p>
</div>