USE [NguyenQuangTam_2310900093]
GO
/****** Object:  Table [dbo].[NqtEmployee]    Script Date: 6/30/2025 9:45:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NqtEmployee](
	[nqtEmpId] [int] IDENTITY(1,1) NOT NULL,
	[nqtEmpName] [nvarchar](250) NULL,
	[nqtEmpLevel] [nvarchar](250) NULL,
	[nqtEmpStartDate] [date] NULL,
	[nqtEmpStatus] [bit] NULL,
 CONSTRAINT [PK_NqtEmployee] PRIMARY KEY CLUSTERED 
(
	[nqtEmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NqtEmployee] ON 

INSERT [dbo].[NqtEmployee] ([nqtEmpId], [nqtEmpName], [nqtEmpLevel], [nqtEmpStartDate], [nqtEmpStatus]) VALUES (1, N'Nguyễn Quang Tâm', N'Admin', CAST(N'2025-06-26' AS Date), 1)
INSERT [dbo].[NqtEmployee] ([nqtEmpId], [nqtEmpName], [nqtEmpLevel], [nqtEmpStartDate], [nqtEmpStatus]) VALUES (2, N'Nguyễn Văn A', N'Member', CAST(N'2025-06-20' AS Date), 1)
INSERT [dbo].[NqtEmployee] ([nqtEmpId], [nqtEmpName], [nqtEmpLevel], [nqtEmpStartDate], [nqtEmpStatus]) VALUES (3, N'Nguyễn Thị B', N'Member', CAST(N'2025-06-26' AS Date), 1)
SET IDENTITY_INSERT [dbo].[NqtEmployee] OFF
GO
