@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Họ và tên: Nguyễn Quang Tâm</p>
    <p>Lớp: K23CNT1</p>
    <p>Số điện thoại: <a href="tel:0961138440">0961138440</a></p>
    <p>Email: nguyenquangtam179@gmail.com</p>

</div>