@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-info">
    <p>Họ và tên: Nguyễn Quang Tâm</p>
    <p>Lớp: K23CNT1</p>
    <p>Email: nguyenquangtam6666@gmail.com</p>
    <p>Số điện thoại: 0961138440</p>
</div>