@model List<NqtProduct>

<h2>Sản phẩm mới nhất</h2>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <img src="~/images/@product.Image" alt="@product.Name" class="img-fluid" />
            <p>@product.Name</p>
        </div>
    }
</div>

@await Component.InvokeAsync("NqtHotProduct")