USE [NqtK23CNT1_Lesson10]
GO
/****** Object:  Table [dbo].[NqtPost]    Script Date: 6/30/2025 8:58:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NqtPost](
	[nqtID] [int] IDENTITY(1,1) NOT NULL,
	[nqtTitle] [nvarchar](250) NULL,
	[nqtImage] [nvarchar](250) NULL,
	[nqtText] [ntext] NULL,
	[nqtStatus] [bit] NULL,
 CONSTRAINT [PK_NqtPost] PRIMARY KEY CLUSTERED 
(
	[nqtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NqtPost] ON 

INSERT [dbo].[NqtPost] ([nqtID], [nqtTitle], [nqtImage], [nqtText], [nqtStatus]) VALUES (1, N'Nguyễn Quang Tâm', N'images/nqtam.jpg', N'K23CNT1 - Lập trình công nghệ .NetCore', 1)
INSERT [dbo].[NqtPost] ([nqtID], [nqtTitle], [nqtImage], [nqtText], [nqtStatus]) VALUES (2, N'Giới thiệu .NetCore MVC - ', N'images/netcore.jpg', N'kkkk', 1)
SET IDENTITY_INSERT [dbo].[NqtPost] OFF
GO
