USE [NqtK23CNT1_Lesson10]
GO
/****** Object:  Table [dbo].[NqtPost]    Script Date: 6/30/2025 8:57:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NqtPost](
	[nqtID] [int] IDENTITY(1,1) NOT NULL,
	[nqtTitle] [nvarchar](250) NULL,
	[nqtImage] [nvarchar](250) NULL,
	[nqtText] [ntext] NULL,
	[nqtStatus] [bit] NULL,
 CONSTRAINT [PK_NqtPost] PRIMARY KEY CLUSTERED 
(
	[nqtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
