﻿
    @{
        ViewData["Title"] = "Thông tin sinh viên";
    }

<div class="alert alert-info">
    <h1>Thông tin sinh viên</h1>
    <hr />
    <p>Mã sinh viên: **</p>
    <p>Họ và tên: Nguyễn Quang Tâm</p>
    <p>Lớp: K23CNT1</p>
    <p>Email: nguyenquangtam179@gmail.com </p>
    <p>Điện thoại: 0961138440</p>
</div>