@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>Họ và tên: Nguyễn Quang Tâm</h1>
    <span>Lớp: K23CNT1</span>
    <span>Email: nguyenquangtam6666@gmail.com</em>
</div>