@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1>Demo index page</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus nemo nihil
            recusandae officiis quas doloremque accusamus unde repellendus, fuga, eos iusto fugit a
            d qui dolorum reprehenderit officia asperiores neque adipisci? ...
        </p>
        <p>
            <a asp-controller="NqtHome" asp-action="NqtIndex" class="btn btn-primary">Quay lại trang chủ</a>
        </p>
    </div>
</div>
